.fixture-tab-main {
    display: flex;
    background-color: #465672;
    justify-content: center;
    max-height: 500px;
}


.fixture-tab-left {
    flex: 1;
    margin-left: 100px;
}

.fixture-tab-right {
    margin-left: 50px;
    flex: 1;
}
