.mtg-content-card {
    border-radius: 6px;
    display: flex;
    background-color: #465672;
    flex-direction: column;
    height: 90vh;
}

.mtg-content-title {
    color: white;
    background-color: rgb(58, 68, 84);
    height: 60px;
    padding: 15px 15px 0 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.mtg-content-grid {
    padding-left: 15px;
    padding-right: 15px;
}

